<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" lang="en">
  <xi:include href="layout.html" />
  <head>
    <title>Weather Searcher</title>
  </head>
  
	<div class="container"> 
	<body class="submit">
		<div class="hero-unit">
		        <h1>Hello, world!</h1>
		        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
		        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
		      </div>
      <h1>Weather Scraper</h1>
		<p>testing out bootstrap</p>
	<span py:if="flasherrors" class="flasherror"> ${flasherrors}</span>
    <form action="" method="post">
      <table summary="" class = "table"><tbody><tr>
        <th><label for="latitude">Latitude:</label></th>
        <td>
			<input type="text" id="latitude" name="latitude" />
			<span py:if="'latitude' in errors" class="error">${errors.latitude}</span>
		</td>
		</tr><tr>
		<th><label for="longitude">Longitude:</label></th>
        <td>
			<input type="text" id="longitude" name="longitude" />
			<span py:if="'longitude' in errors" class="error">${errors.longitude}</span>
		</td>
      </tr><tr>
        <th><label for="dateS">Start Date:</label></th>
        <td>
			<input type="text" id="dateS" name="dateS" />
			<span py:if="'dateS' in errors" class="error">${errors.dateS}</span>
		</td>
      </tr><tr>
        <th><label for="dateE">End Date:</label></th>
        <td>
			<input type="text" name="dateE" />
			<span py:if="'dateE' in errors" class="error">${errors.dateE}</span>
		</td>
      </tr><tr>
        <td></td>
        <td>
          <input type="submit" value="Search" />
        </td>
      </tr></tbody></table>
    </form>

  </body>
</div>
</html>