<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      <title py:with="title = list(select('title/text()'))">
        Weather Scraper<py:if test="title">: ${title}</py:if>
      </title>
      ${select('*[local-name()!="title"]')}
    <link rel="stylesheet" type="text/css" media="all" href="${url('/static/css/boostrap.css')}" />
    </head>
  </py:match>

  <py:match path="body" once="true">
    <body py:attrs="select('@*')"><div id="wrap">
      <div id="header">
      </div>
      <div id="content">
        ${select('*|text()')}
      </div>
      <div id="footer">
        <hr />
        <p class="legalese">© 2012 Samuel Charreyron and Stewart Jackson</p>
      </div>
    </div>
  </body>
  </py:match>

</html>